body {
  background: url(../icons/background.png) #333333;
  color: white;
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 4vw;
  margin-top: 0px;
  margin-bottom: 0px;
}
th {
  border-bottom: 1px solid white;
  font-family: 'Dancing Script', cursive;
  font-size: 1.8vw !important;
  padding-bottom: 10px;
}
td {
  padding-top: 10px;
  font-size: 1.3vw;

}
table {
  margin-left:auto;
  margin-top: 25px;
  margin-right:auto;
  text-align: center;
  border-spacing: 0px;
  width:85%;
}
img {
  height: 3vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 8vw;
  text-align: center;
  margin-top: 22%;
  font-family: 'Dancing Script', cursive;
}


/*Animation when there are no absences in all categories */
.animation-writitng{
  white-space: nowrap;
  overflow: hidden;
  animation: typingcursor 3s steps(20) normal both
}
@keyframes typingcursor{
  from{width: 0;}
  to{width: 10.5em;}
}
